#info{
   border-radius: 10px;
   background-color: cornflowerblue;
   font-family: 'Times New Roman', Times, serif;
}

#body{
background-color: darkkhaki;
}
#img{
    height: 300px;
    width: 300px;
    align-content: center;
    border-radius: 10px;
}